<div class="col-md-12" *ngIf="!employee">
    <h5>Cargando...</h5>
</div>
<div class="col-md-12" *ngIf="employee">
    <h3>ID: {{employee.id}}</h3>
    <h4>Nombre: {{employee.nombre}}</h4>
    <h4>Apellido: {{employee.apellido}}</h4>
    <h4>Direccion: {{employee.direccion}}</h4>
    <h4>Telefono: {{employee.telefono}}</h4>
    <h4>Correo electronico: {{employee.correo}}</h4>
    <h4>Nivel de empleado: {{employee.tipo}}</h4>
    <hr>
    <button class="btn btn-primary" >Editar</button>
    <button class="btn btn-danger">Borrar</button>
</div>