<div class="cli-md-12 mt-4">
    <div class="alert alert-danger" *ngIf="status==1">
        Usuario y/o contrasena incorrecta.
    </div>
    <form class="col-md-4 mr-auto ml-auto" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <h2 class="text-center">Inicio de sesion</h2>
        <div class="form-group">
            <label>Nombre de usuario</label>
            <input type="text" name="nombreUsuario" required class="form-control" #nombreUsuario="ngModel" [(ngModel)]="user.nombreUsuario">
        </div>
        <div class="form-group">
            <label>Contrasena</label>
            <input type="password" name="password" required class="form-control" #password="ngModel" [(ngModel)]="user.password">
        </div>
        <input type="submit" value="Iniciar sesion" class="btn btn-success" [disabled]="loginForm.invalid">
    </form>
</div>