<div class="loading" *ngIf="!usuarios">Cargando</div>
<div class="container-fluid mt-3" *ngIf="usuarios">
    <h3>Todos los usuarios</h3>
    <hr>
    <button type="button" class="btn btn-success" [routerLink]="['/registrar-usuario']">Agregar usuario</button>
    <table class="table" *ngIf="usuarios">
        <thead>
            <tr>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">Nivel de usuario</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usuarios">
                <td scope="table">{{user.nombreUsuario}}</td>
                <td>{{user.nivelUsuario}}</td>
                <td>
                    <a class="btn btn-primary" [routerLink] = "['/detalle-usuario',user.id]">Ver</a>
                    <a class="btn btn-danger" >Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>